# -----------------------
# Python / Django
# -----------------------

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

venv/
env/
ENV/

.env
.env.*

# -----------------------
# ML Models
# -----------------------

datasets/
*.h5
*.pkl
*.pt
*.pth

# -----------------------
# Node / Mobile
# -----------------------

node_modules/
.expo/
dist/
web-build/

# -----------------------
# System
# -----------------------

.DS_Store
Thumbs.db

# -----------------------
# Logs
# -----------------------

*.log

# -----------------------
# VSCode
# -----------------------

.vscode/